@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>Proyecto WEB</h3>

<address>
    Boris Torrejon<br />
    Buenos Aires, Mar del Plata<br />
    Calle. Cornelio Viera 213 <br/>
    <abbr href="tel:+542236951583">Tel:</abbr>
    (+54) 223-6951583
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:torrejonboris@gmail.com">torrejonboris@gmail.com</a><br />
    <strong>CV WEB:</strong> <a href="https://micv-f42ec.web.app/">micv-f42ec.web.app</a>
</address>